<html ng-app="sampleApp">
<head>
<title></title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
</head>
<body>
  <div ng-controller="CreatePrj" class="container">
    <!--<ul>
      <li ng-repeat="project in projects">

        <input ng-model="project.$id" ng-change="projects.$save(project)" />

        <button ng-click="projects.$remove(project)">Delete This Project</button>
      </li>
    </ul>-->
    <!-- push a new message onto the array -->
    <div class="row">
      <div class="col-md-12" style="background: #333;color: #fff"><h1>Insert Project</h1></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <form ng-submit="addProjects()">
          <div class="form-group">
            <label>Title:</label><input class="form-control" ng-model="newProjectTitle" /><br>
          </div>
          <div class="form-group">
            <label>Description:</label><textarea class="form-control" ng-model="newProjectDescription"></textarea><br/>
          </div>
            <button type="submit" class="btn btn-primary">Add Project</button>
        </form>
      </div>
      <div class="col-md-6" style="background: #eee;height: 100%">
        <h2>List of projects</h2>
        <ul>
          <li ng-repeat="project in projects">
            {{project.title}} ({{project.$id}})
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAr1O53UwebixTDtdiDsyHxfKE-7lYmJgc",
        authDomain: "prj-cost-recovery.firebaseapp.com",
        databaseURL: "https://prj-cost-recovery.firebaseio.com",
        storageBucket: "prj-cost-recovery.appspot.com",
      };
      firebase.initializeApp(config);
      var app = angular.module("sampleApp", ["firebase"]);
    </script>

    <script>
    app.controller("CreatePrj", function($scope, $firebaseArray) {
      var ref = firebase.database().ref().child("projects");
      // create a synchronized array
      $scope.projects = $firebaseArray(ref);
      // add new items to the array
      // the message is automatically added to our Firebase database!
      $scope.addProjects = function() {
        $scope.projects.$add({
          title: $scope.newProjectTitle,
          description: $scope.newProjectDescription,
          timeStamp: firebase.database.ServerValue.TIMESTAMP
        }).then(function() {
          $scope.newProjectTitle = "";
          $scope.newProjectDescription = "";
        });
      };
    });
    </script>

</body>
</html>
